
<div class="row">
  <div class="todos">
    <div>
      <!--<form (submit)="addItem($event)">-->
        <form #listform="ngForm" (ngSubmit)="addItem($event);">
        <label>
          <input [(ngModel)]="newItem" (keyup.enter)="newItem=''" class="textfield" name="newItem">
        </label>
        <button id="addbutton" type="submit" [disabled]="newItem===''">Add Todo</button>
      </form>
    </div>

    <div [hidden]="newItem">
      Type in a new todo...
    </div>

    <div [hidden]="!newItem">
      Typing: {{ newItem }}
    </div>

    <ul>
      <li *ngFor="let item of items; let i=index">
        <label class="testilabel">
          <input type="checkbox" class="checkbox-custom" name="checkbox-1" [(ngModel)]="item.completed"/>
          <label class="checkbox-custom-label"></label>
        </label>
        <span [ngClass]="{'checked': item.completed}">{{ item.newItem }}</span>
        <span (click)="deleteTodo(i)" class="delete-icon">&times;</span>
      </li>
    </ul>

    <div>
      <button (click)="deleteSelected()">delete selected</button>
      <!-- <button (click)="saveList()">save</button> -->           <!-- createList() -->
    </div>
  </div>
</div>

<p>list: testing for local storage</p>
<p> {{ newItem }} </p>

