<div id="weatherdiv">
  <h2>Check your weather!</h2>

  <p>Type your city and <strong>abbreviation</strong> of your country</p>
  <form #locationForm="ngForm" (ngSubmit)="getApi(locationForm.value)">
    <label class="weathertype" >
      City:
      <input id="city" class="weatherfield" type="text" name="kaupunki" pattern="[a-zA-Zà-žÀ-Ž\s]+" required ngModel>
    </label>
    <label class="weathertype">
      Country:
      <input class="weatherfield" type="text" name="maa" placeholder="for example FI or FIN" pattern="[a-zA-Z]{2,3}$" required ngModel>
    </label><br/>
    <button class="menulistbtn" type="submit" (click)="showLocation()">search</button>
  </form>

  <br/>
  <h4 id="locationPar" style="display: none;">Your weather in the area of the nearest weather station ({{ paikka.name }}) is</h4>
  <p>Description: {{ lampotilat.weather }} </p>
  <p>Temperature: {{ lampotilat.tempC }} °C</p>
  <p>Feels like: {{ lampotilat.feelslikeC }} °C</p>
  <p>Humidity: {{ lampotilat.humidity }} %</p>
  <p>Wind (kph): {{ lampotilat.windKPH }} </p>
  <p>Visibility: {{ lampotilat.visibilityKM }} km</p>
</div>
